# Entorno virtual
.venv/
venv/
env/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Base de datos SQLite
*.db
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db

# PyCharm
.idea/
.vscode/

# Reportes generados
*.xlsx
*.pdf